# Environment variables
.env

# Logs
*.log

# Database files
*.sqlite3
*.db
*.db-journal

# Python cache
__pycache__/
*.pyc
.venv/

# IDE settings
.vscode/
.idea/

data/

docker-compose.yml
compose.yml

**/*.http

*.sh

**/config.json
!healthcheck.sh

# YT Music creds
oauth.json
browser.json

config/