.grid2x2 {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.grid2x2 > div {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-basis: calc(50% - 40px);
    justify-content: center;
    flex-direction: column;
}